[submodule "third_party/Pangolin"]
	path = third_party/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://github.com/libigl/eigen
